# Restful-Booker API
API_URL=https://restful-booker.herokuapp.com
API_USER=admin
API_PASSWORD=password123

# Sauce Demo UI
UI_URL=https://www.saucedemo.com
UI_PASSWORD=secret_sauce

# Sauce Demo — usuários de teste
STANDARD_USER=standard_user
LOCKED_OUT_USER=locked_out_user
PROBLEM_USER=problem_user
PERFORMANCE_GLITCH_USER=performance_glitch_user
ERROR_USER=error_user
VISUAL_USER=visual_user
